html,
body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}
body {
  background: linear-gradient(rgb(68, 68, 68), black);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.topheader {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: linear-gradient(rgb(68, 68, 68));
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: #a0a0a0;
  display: block;
  padding: 15px 20px;
}
.Menu-Vertical {
  display: none;
  padding: 0;
  position: absolute;
  list-style: none;
  width: 150px;
}
.Menu-Horizontal li a:hover {
  color: red;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
/* Seccion banca*/
.seccion-banca {
  padding: 100px 20px;
}
.div-gral-banca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.div-banca-texto {
  flex: 1;
}
.div-banca-texto h2 {
  display: flex;
  justify-content: center;
  font-size: 46px;
  color: #a0a0a0;
  margin-bottom: 15px;
}
.div-banca-texto p {
  color: white;
  line-height: 1.3;
  justify-content: center;
  text-align: center;
  display: flex;
}
.div-banca-img {
  flex: 1;
  max-width: 500px;
  max-height: 500px;
}
.div-banca-img img {
  max-width: 400px;
  max-height: 300px;
}
.div-promo-texto {
  display: flex;
  justify-content: center;
  font-size: 46px;
  color: #a0a0a0;
  margin-bottom: 15px;
}
.div-promo-video {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente (si tiene altura definida) */
  width: 100%;
  padding: 20px 0;
}
/* Seccion Formulario */
.Ayuda-general {
  background-color: aquamarine;
  padding: 40px;
  padding-top: 100px;
  border: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.div-ayuda-formulario {
  justify-content: center;
  background-color: coral;
  padding: 30px;
  border: 3px solid black;
  width: 100%;
  max-width: 500px;
}
.campo {
  background-color: aqua;
  padding: 15px;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.Formulario label {
  display: flex;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}
/*Para las cajas input select */
.Formulario input[type="text"],
.Formulario select {
  width: 100%;
  padding: 2px;

  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
.Lista-checkbox,
.Lista-radio {
  list-style: none;
  padding: 10px;
  margin: 0;
  border: 1px;
}
.Button {
  text-align: center;
}
.Button button {
  background-color: aquamarine;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
